.top__menu--wrapper{
    position: absolute;
    width: 1077px;
    height: 100px;
    left: 432px;
    top: 52px;
    background: #FFFFFF;
    box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.41);
    display: flex;
    border-radius: 28px;
}

.top__menu--logo-wrapper{
    margin-left: 38px;
    margin-top: 21px;
    margin-bottom: 15px;
    display: flex;
}

.top__menu--logo-vert-line{
    border-left: 1px solid #2F80ED;
}