.main__card{
    width: 346px;
    height: 619px;
    background: #F2F2FF;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.5);
    border-radius: 21px;
    text-align: center;
}

.main__card img{
    border-radius: 21px 21px 0px 0px;
}

.card__status--opn{
    color: #0B8B00;
}

.card__status--fnshd{
    color: #EB5433;
}

.card__status--iprgrs{
    color: #0B8B00;
}