.main__card{
    width: 342px;
    height: 610px;
    background: #F2F2FF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
    border-radius: 21px;
    position: relative;
}

.main__card img{
    border-radius: 21px 21px 0px 0px;
    width: 100%;
    height: 300px;
}

.card__status--opn{
    color: #0B8B00;
}

.card__status--fnshd{
    color: #EB5433;
}

.card__status--iprgrs{
    color: #0B8B00;
}
.card__container {
    padding: 18px 30px 15px;
}
.card__status {
    display: flex;
    height: 57px;
    align-items: center;
}
.card__status img {
    width: 24px;
    height: 24px;
    margin: 0 12px 0 3px;
    height: auto;
}
.card__br {
    width: 312px;
    height: 1px;
    background: black;
}
.card__title {
    margin-top: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
}
.card__title a {
    color: black;
    text-decoration: none;
}
.card__descr {
    margin-top: 18px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    height: 58px;
    position: relative;
}
.card__descr::before {
    content: "";
    background:#EB5433;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    left: -20px;
    border-radius: 100%;

}
.card__footer {
    margin-top: 32px;
    position: relative;
    font-size: 14px;
}
.card__bar {
    margin-top: 30px;
    display: inline-block;
}
.card__bar__line, .card__bar__line_now {
    height: 8px;
    position: relative;
}
.card__bar__line {
    width: 207px;
    background-color: #fff;  
}
.card__bar__line_now {
    width: 80%; /* Динамическое значение */ 
    background-color: #CAF946;
}
.card__bar_text-finish, .card__bar_text-now {
    position: absolute;
    right: 0;
}
.card__bar_text-finish {
    bottom: 21px;
}
.card__bar_text-now {
    top: 21px;
}
.card__insts {
    position: absolute;
    bottom: 19px;
    right: 31px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #90FFA2;
}
.card__insts img {
    height: auto;
}
.card__footer {
    margin-top: 32px;
}